<p id="notice"><%= notice %></p>

<p>
  <b>Peso1:</b>
  <%= @rede.peso1 %>
</p>

<p>
  <b>Peso2:</b>
  <%= @rede.peso2 %>
</p>

<p>
  <b>Peso3:</b>
  <%= @rede.peso3 %>
</p>

<p>
  <b>Peso4:</b>
  <%= @rede.peso4 %>
</p>

<p>
  <b>Peso5:</b>
  <%= @rede.peso5 %>
</p>

<p>
  <b>Epocas:</b>
  <%= @rede.epocas %>
</p>


<%= link_to 'Edit', edit_rede_path(@rede) %> |
<%= link_to 'Back', redes_path %>
