<h1>Listing treinamentos</h1>

<table>
  <tr>
    <th>Entrada1</th>
    <th>Entrada2</th>
    <th>Entrada3</th>
    <th>Entrada4</th>
    <th>Entrada5</th>
    <th>Target</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @treinamentos.each do |treinamento| %>
  <tr>
    <td><%= treinamento.entrada1 %></td>
    <td><%= treinamento.entrada2 %></td>
    <td><%= treinamento.entrada3 %></td>
    <td><%= treinamento.entrada4 %></td>
    <td><%= treinamento.entrada5 %></td>
    <td><%= treinamento.target %></td>
    <td><%= link_to 'Show', treinamento %></td>
    <td><%= link_to 'Edit', edit_treinamento_path(treinamento) %></td>
    <td><%= link_to 'Destroy', treinamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Treinamento', new_treinamento_path %>
