<p id="notice"><%= notice %></p>

<p>
  <b>Entrada1:</b>
  <%= @treinamento.entrada1 %>
</p>

<p>
  <b>Entrada2:</b>
  <%= @treinamento.entrada2 %>
</p>

<p>
  <b>Entrada3:</b>
  <%= @treinamento.entrada3 %>
</p>

<p>
  <b>Entrada4:</b>
  <%= @treinamento.entrada4 %>
</p>

<p>
  <b>Entrada5:</b>
  <%= @treinamento.entrada5 %>
</p>

<p>
  <b>Target:</b>
  <%= @treinamento.target %>
</p>


<%= link_to 'Edit', edit_treinamento_path(@treinamento) %> |
<%= link_to 'Back', treinamentos_path %>
