<h1>Listing receita</h1>

<table>
  <tr>
    <th>Id post</th>
    <th>Titulo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receita.each do |receitum| %>
  <tr>
    <td><%= receitum.id_post %></td>
    <td><%= receitum.titulo %></td>
    <td><%= link_to 'Show', receitum %></td>
    <td><%= link_to 'Edit', edit_receitum_path(receitum) %></td>
    <td><%= link_to 'Destroy', receitum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Receitum', new_receitum_path %>
