<p id="notice"><%= notice %></p>

<p>
  <b>Id post:</b>
  <%= @receitum.id_post %>
</p>

<p>
  <b>Titulo:</b>
  <%= @receitum.titulo %>
</p>


<%= link_to 'Edit', edit_receitum_path(@receitum) %> |
<%= link_to 'Back', receita_path %>
