<p id="notice"><%= notice %></p>

<p>
  <b>Entrada1:</b>
  <%= @validacao.entrada1 %>
</p>

<p>
  <b>Entrada2:</b>
  <%= @validacao.entrada2 %>
</p>

<p>
  <b>Entrada3:</b>
  <%= @validacao.entrada3 %>
</p>

<p>
  <b>Entrada4:</b>
  <%= @validacao.entrada4 %>
</p>

<p>
  <b>Entrada5:</b>
  <%= @validacao.entrada5 %>
</p>

<p>
  <b>Target:</b>
  <%= @validacao.target %>
</p>


<%= link_to 'Edit', edit_validacao_path(@validacao) %> |
<%= link_to 'Back', validacoes_path %>
