<p id="notice"><%= notice %></p>

<p>
  <b>Entrada1:</b>
  <%= @mlp.entrada1 %>
</p>

<p>
  <b>Entrada2:</b>
  <%= @mlp.entrada2 %>
</p>

<p>
  <b>Entrada3:</b>
  <%= @mlp.entrada3 %>
</p>

<p>
  <b>Entrada4:</b>
  <%= @mlp.entrada4 %>
</p>

<p>
  <b>Target1:</b>
  <%= @mlp.target1 %>
</p>

<p>
  <b>Target2:</b>
  <%= @mlp.target2 %>
</p>

<p>
  <b>Target3:</b>
  <%= @mlp.target3 %>
</p>


<%= link_to 'Edit', edit_mlp_path(@mlp) %> |
<%= link_to 'Back', mlps_path %>
